    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">dllib will help you to understand deep learning algorithms on Spark.<br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">
                    <div class="profile">
                      <img class="img-responsive" src="http://www.lewuathe.com/images/my_image.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">I'm software engineer focused on distributed system like Hadoop/Spark</h3>
                        <p>I am a contributor to Apache Hadoop/Spark project. And I am interested in deep learning. We can and should combine these two field for researching and developing new algorithms on huge realistic dataset. So that's the reason why I developed dllib.</p>
                        <div class="source">
                            <span class="name"><a href="https://twitter.com/Lewuathe" target="_blank">Kai Sasaki</a></span>
                            <br />
                            <span class="title">Software Engineer</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fa fa-dribbble"></i></a></li>
                        <li class="last"><a href="mailto: {{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
