    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            
            <div class="block">
                <h3 class="sub-title text-center">Spark Packages</h3>
                <p>Installing via Spark Packages</p>
                
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre>
    <code class="language-css">
        $ ./bin/spark-shell --packages Lewuathe:dllib:0.0.8
    </code>
                    </pre>
                </div><!--//code-block-->
            </div><!--//block-->
            </div><!--//docs-inner-->
        </div><!--//container-->
    </section><!--//docs->
