    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>dllib is distributed under Apache License v2. See more detail in <a href="https://github.com/Lewuathe/dllib/blob/master/LICENSE">LICENSE</a></p>
                </div><!--//info-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
